In [2]:
import pandas as pd
data = pd.read_csv("shots_data.csv")
data

       team     x     y  fgmade
0    Team A  -5.0  26.4       0
1    Team A  -0.8   1.2       1
2    Team A -13.9   9.5       1
3    Team A  -5.4  26.2       0
4    Team A  -4.9  14.5       1
..      ...   ...   ...     ...
499  Team B  -0.5   2.2       0
500  Team B   3.5   7.6       0
501  Team B   0.2   8.8       0
502  Team B  -0.6   0.7       1
503  Team B  -0.3   3.6       0

[504 rows x 4 columns]

In [5]:
def func(input):
    dist = (input.x ** 2 + input.y ** 2) ** 0.5
    if abs(input.x) > 22 and input.y <= 7.8:
        return "C3"
    elif dist >= 23.75 and input.y > 7.8:
        return "NC3"
    elif dist < 23.75 and input.y > 7.8:
        return "2PT"
    elif input.y <= 7.8 and abs(input.x) <= 22:
        return "2PT"
    else:
        return "error"
data["area"] = data.apply(func,axis=1)
data

       team     x     y  fgmade area
0    Team A  -5.0  26.4       0  NC3
1    Team A  -0.8   1.2       1  2PT
2    Team A -13.9   9.5       1  2PT
3    Team A  -5.4  26.2       0  NC3
4    Team A  -4.9  14.5       1  2PT
..      ...   ...   ...     ...  ...
499  Team B  -0.5   2.2       0  2PT
500  Team B   3.5   7.6       0  2PT
501  Team B   0.2   8.8       0  2PT
502  Team B  -0.6   0.7       1  2PT
503  Team B  -0.3   3.6       0  2PT

[504 rows x 5 columns]

In [58]:
# For Team A, the their shots were attempted in the 2PT zone
a = data[(data["team"] == "Team A")]
b = data[(data["team"] == "Team A")& (data["area"] == "2PT" )]
len(b) / len(a)

0.6928571428571428

In [59]:
# For Team A, the their shots were attempted in the C3 zone
a = data[(data["team"] == "Team A")]
b = data[(data["team"] == "Team A")& (data["area"] == "C3" )]
len(b) / len(a)

0.06428571428571428

In [60]:
# For Team A, the their shots were attempted in the NC3 zone
a = data[(data["team"] == "Team A")]
b = data[(data["team"] == "Team A")& (data["area"] == "NC3" )]
len(b) / len(a)

0.24285714285714285

In [62]:
# For Team A, the eFG in the 2PT zone
a = data[(data["team"] == "Team A")& (data["area"] == "2PT" )]
b = data[(data["team"] == "Team A")&(data["fgmade"] == 1 ) & (data["area"] == "2PT" )]
len(b) / len(a)

0.4896907216494845

In [63]:
# For Team A, the eFG in the NC3 zone
a = data[(data["team"] == "Team A")& (data["area"] == "NC3" )]
b = data[(data["team"] == "Team A")&(data["fgmade"] == 1 ) & (data["area"] == "NC3" )]
len(b) / len(a)

0.3088235294117647

In [64]:
# For Team A, the eFG in the C3 zone
a = data[(data["team"] == "Team A")& (data["area"] == "C3" )]
b = data[(data["team"] == "Team A")&(data["fgmade"] == 1 ) & (data["area"] == "C3" )]
len(b) / len(a)

0.5

In [61]:
# For Team B, the their shots were attempted in the 2PT zone
a = data[(data["team"] == "Team B")]
b = data[(data["team"] == "Team B")& (data["area"] == "2PT" )]
len(b) / len(a)

0.6741071428571429

In [65]:
# For Team B, the their shots were attempted in the NC3 zone
a = data[(data["team"] == "Team B")]
b = data[(data["team"] == "Team B")& (data["area"] == "NC3" )]
len(b) / len(a)

0.2767857142857143

In [66]:
# For Team B, the their shots were attempted in the C3 zone
a = data[(data["team"] == "Team B")]
b = data[(data["team"] == "Team B")& (data["area"] == "C3" )]
len(b) / len(a)

0.049107142857142856

In [67]:
# For Team B, the eFG in the 2PT zone
a = data[(data["team"] == "Team B")& (data["area"] == "2PT" )]
b = data[(data["team"] == "Team B")&(data["fgmade"] == 1 ) & (data["area"] == "2PT" )]
len(b) / len(a)

0.44370860927152317

In [68]:
# For Team B, the eFG in the NC3 zone
a = data[(data["team"] == "Team B")& (data["area"] == "NC3" )]
b = data[(data["team"] == "Team B")&(data["fgmade"] == 1 ) & (data["area"] == "NC3" )]
len(b) / len(a)

0.3387096774193548

In [69]:
# For Team B, the eFG in the C3 zone
a = data[(data["team"] == "Team B")& (data["area"] == "C3" )]
b = data[(data["team"] == "Team B")&(data["fgmade"] == 1 ) & (data["area"] == "C3" )]
len(b) / len(a)

0.36363636363636365